In [ ]:
import pandas as pd
import numpy as np
import requests
import json
from pandas.io.json import json_normalize

In [47]:
# Global Variables
KEY = 'RGAPI-e8ab8c77-0e55-4562-814f-f7e64301e8d0'
API_BASE = 'https://na1.api.riotgames.com/'
API_BASE_REGION = 'https://americas.api.riotgames.com/'
 
TIERS = ['IRON']  # , 'BRONZE', 'SILVER', 'GOLD', 'PLATINUM', 'DIAMOND']
DIVISIONS = ['I'] # , 'II', 'III', 'IV']
TIERS_LIST = []
for tier in TIERS:
  for division in DIVISIONS:
    TIER_DIVISION = tier + '/' + division
    TIERS_LIST.append(TIER_DIVISION)

TIER_URLS = []
for tiers_divis in TIERS_LIST: 
  url = API_BASE + 'tft/league/v1/entries/' + tiers_divis + '?page=1&api_key=' + KEY
  TIER_URLS.append(url)

In [48]:
TIER_URLS

['https://na1.api.riotgames.com/tft/league/v1/entries/IRON/I?page=1&api_key=RGAPI-e8ab8c77-0e55-4562-814f-f7e64301e8d0']

In [188]:
# Get list of each summoner in each tier
tier_frames = []

for url in TIER_URLS:
  REQUEST_TIERS = requests.get(url)
  tier_data = json.loads(REQUEST_TIERS.text)
  tier_df = json_normalize(tier_data)
  tier_frames.append(tier_df)
divisions = pd.concat(tier_frames, ignore_index=True, sort=True)

In [189]:
divisions['division_tier'] = divisions['tier'] + '_' + divisions['rank'] 
divisions

,freshBlood,hotStreak,inactive,leagueId,leaguePoints,losses,queueType,rank,summonerId,summonerName,tier,veteran,wins,division_tier
0,False,False,False,bba31c20-0f0a-11ea-9d15-0292af83ade6,94,5,RANKED_TFT,I,yuST92qI7G8ZiMWVBzHJ6e2xONnD6Rc1R-AfC3IU-FEsK8xY,Thesmokingpun,IRON,False,0,IRON_I
1,False,False,False,38ef74e0-2049-11ea-af12-e2e7dba1695f,41,22,RANKED_TFT,I,cClZh8jH4gTqTlFoz_fYFO6OQwLvWEvyJaCx515J_g6Ml3GX,TwitchDrDescend,IRON,False,0,IRON_I
2,False,False,False,3e06330f-c4f3-4a08-a497-e81f6df10588,13,9,RANKED_TFT,I,8VN_E8UqdztjMGB_OU5taldKe8rYdKqbQeQNJij7aa8Bx8BS,Iskoog,IRON,False,0,IRON_I
3,False,False,False,f4694230-0bb0-11ea-b9fc-eeb4098ebaa0,11,6,RANKED_TFT,I,Ild9nWTxkyF8XWYHIbSKkO4l_HuWKnc-oCBhnMwm2txdJVdu,paybackisthename,IRON,False,0,IRON_I
4,False,False,False,13e67db0-19e1-11ea-8ce1-0256c6254f55,30,5,RANKED_TFT,I,cID8eSPpX2QVsydzTIdzHtXD1GBIjf_kTsl3zIXIctjPOspl,Dasheng Tian,IRON,False,2,IRON_I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,0ee7ff20-0bb6-11ea-b4a9-5695e6f6f4e2,56,7,RANKED_TFT,I,F_vpSJy2FOW6dxhIXLR6T6ay9feCQXqh3Z9pxjblQLzb3Gad,Rudyye,IRON,False,0,IRON_I
201,False,False,False,ad17b090-0cbb-11ea-a1bd-2248c4d57dfc,73,11,RANKED_TFT,I,NraMPVZqka1cmWV6cpfGc5dtmDEY8CSIUoBhkYnothMk1IOQ,YouMust SGM,IRON,False,0,IRON_I
202,False,False,False,97812fb0-0bba-11ea-979f-2641a46f9168,22,4,RANKED_TFT,I,1BpsKjxlh0XEFacpNm3gtD9KPYpzHixTSUoxEwNEN35w0r-D,Ruyi Heo,IRON,False,1,IRON_I
203,False,False,False,842b54b0-0be5-11ea-9d15-0292af83ade6,75,6,RANKED_TFT,I,FjeyATjcweqOPWmWykf58FoHUI_fPvWKgiQ8WH1fDmAkROAR,SkavanFoever,IRON,False,2,IRON_I
204,True,False,False,9c8f8f4d-ae39-493d-bb1b-8442fd2cd821,18,7,RANKED_TFT,I,2ZakMI4E73KHqbhtYphW6hTLBUfs6eJoN-SltSAGe9hmPwpl,Me no hit Enter,IRON,False,0,IRON_I

In [50]:
divisions

,freshBlood,hotStreak,inactive,leagueId,leaguePoints,losses,queueType,rank,summonerId,summonerName,tier,veteran,wins
0,False,False,False,bba31c20-0f0a-11ea-9d15-0292af83ade6,94,5,RANKED_TFT,I,yuST92qI7G8ZiMWVBzHJ6e2xONnD6Rc1R-AfC3IU-FEsK8xY,Thesmokingpun,IRON,False,0
1,False,False,False,38ef74e0-2049-11ea-af12-e2e7dba1695f,41,22,RANKED_TFT,I,cClZh8jH4gTqTlFoz_fYFO6OQwLvWEvyJaCx515J_g6Ml3GX,TwitchDrDescend,IRON,False,0
2,False,False,False,3e06330f-c4f3-4a08-a497-e81f6df10588,13,9,RANKED_TFT,I,8VN_E8UqdztjMGB_OU5taldKe8rYdKqbQeQNJij7aa8Bx8BS,Iskoog,IRON,False,0
3,False,False,False,f4694230-0bb0-11ea-b9fc-eeb4098ebaa0,22,5,RANKED_TFT,I,Ild9nWTxkyF8XWYHIbSKkO4l_HuWKnc-oCBhnMwm2txdJVdu,paybackisthename,IRON,False,0
4,False,False,False,13e67db0-19e1-11ea-8ce1-0256c6254f55,30,5,RANKED_TFT,I,cID8eSPpX2QVsydzTIdzHtXD1GBIjf_kTsl3zIXIctjPOspl,Dasheng Tian,IRON,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,ad17b090-0cbb-11ea-a1bd-2248c4d57dfc,73,11,RANKED_TFT,I,NraMPVZqka1cmWV6cpfGc5dtmDEY8CSIUoBhkYnothMk1IOQ,YouMust SGM,IRON,False,0
201,False,False,False,97812fb0-0bba-11ea-979f-2641a46f9168,22,4,RANKED_TFT,I,1BpsKjxlh0XEFacpNm3gtD9KPYpzHixTSUoxEwNEN35w0r-D,Ruyi Heo,IRON,False,1
202,False,False,False,842b54b0-0be5-11ea-9d15-0292af83ade6,75,6,RANKED_TFT,I,FjeyATjcweqOPWmWykf58FoHUI_fPvWKgiQ8WH1fDmAkROAR,SkavanFoever,IRON,False,2
203,True,False,False,9c8f8f4d-ae39-493d-bb1b-8442fd2cd821,18,7,RANKED_TFT,I,2ZakMI4E73KHqbhtYphW6hTLBUfs6eJoN-SltSAGe9hmPwpl,Me no hit Enter,IRON,False,0
204,False,False,False,0b666320-0ecf-11ea-9c9a-c2363367468d,89,5,RANKED_TFT,I,yZjYmeLFcwL9f4gxXE4GxJv0rgLIH--Gb1XIGeVzwOgA0Uy7,PhotoshopMyKappa,IRON,False,0

In [51]:
# Get summoner name from divisions data frame / keeping it at 5 for now for testing
summoner_names = divisions.loc[ :2, 'summonerName' ]

In [204]:
summoner_names

0      Thesmokingpun
1    TwitchDrDescend
2             Iskoog
Name: summonerName, dtype: object

In [205]:
summoner_frames = []

for summoner in summoner_names:
  summoner_url = API_BASE + 'tft/summoner/v1/summoners/by-name/' + summoner + '?api_key=' + KEY
  REQUEST_NAME = requests.get(summoner_url)
  summoner_data = json.loads(REQUEST_NAME.text)
  summoner_df = json_normalize(summoner_data)
  summoner_frames.append(summoner_df)
join_summoners = pd.concat(summoner_frames, ignore_index=True, sort=True)

In [206]:
join_summoners = join_summoners.merge(divisions[['summonerName','division_tier']],left_on='name', right_on = 'summonerName')

In [ ]:
df.merge()

In [207]:
join_summoners.head()

,accountId,id,name,profileIconId,puuid,revisionDate,summonerLevel,summonerName,division_tier
0,zI283lT_AmT46PYA4ryvDu6_pCEQWelYXsDEFnkVuY46eK...,yuST92qI7G8ZiMWVBzHJ6e2xONnD6Rc1R-AfC3IU-FEsK8xY,Thesmokingpun,4080,Ki1KO62ygcycSVm6LoqHuxrL2CMzEF-bU2uMKrms9pPUog...,1577783118000,174,Thesmokingpun,IRON_I
1,HoX-vMezy19MFPStaMIWJkSJo7TqzKUiiZcdRLQJNiLNfj...,cClZh8jH4gTqTlFoz_fYFO6OQwLvWEvyJaCx515J_g6Ml3GX,TwitchDrDescend,1437,Qo8MH3V2TR24SNwj15PHwdLnmls1zV2TshFuMzLrwoK30-...,1583209489000,27,TwitchDrDescend,IRON_I
2,JpUFYXoEICpGy_pc_bpIF834PYUkAxCZU_hNvNPs9Zedy4...,8VN_E8UqdztjMGB_OU5taldKe8rYdKqbQeQNJij7aa8Bx8BS,Iskoog,3791,rOLjK2bI7u1Vgf0UW6N57SMSE26R_-Q5sNj5CCYLNPhzCu...,1583265443000,38,Iskoog,IRON_I

In [55]:
# Get puuid from summoners data frame
summoner_puuid = join_summoners.loc[ : , 'puuid' ]

In [56]:
summoner_puuid

0    Ki1KO62ygcycSVm6LoqHuxrL2CMzEF-bU2uMKrms9pPUog...
1    Qo8MH3V2TR24SNwj15PHwdLnmls1zV2TshFuMzLrwoK30-...
2    rOLjK2bI7u1Vgf0UW6N57SMSE26R_-Q5sNj5CCYLNPhzCu...
Name: puuid, dtype: object

In [57]:
game_id_frames = []
match_count = '1'

for puuid in summoner_puuid:
  match_url = API_BASE_REGION + '/tft/match/v1/matches/by-puuid/' + puuid + '/ids?count=' + match_count + '&api_key=' + KEY
  REQUEST_MATCH = requests.get(match_url)
  match_data = json.loads(REQUEST_MATCH.text)
  match_df = pd.Series(match_data)
  game_id_frames.append(match_df)
game_id_data = pd.concat(game_id_frames, ignore_index=True, sort=True)

In [58]:
# need to convert to series
game_id_list = game_id_data.loc[:]

In [59]:
game_id_list

0    NA1_3220227240
1    NA1_3313188067
2    NA1_3302506161
dtype: object

In [60]:
match_info_frames = []
match_count = '2'

for game_id in game_id_list:
  result_url = API_BASE_REGION + 'tft/match/v1/matches/' + game_id + '?api_key=' + KEY
  REQUEST_RESULT = requests.get(result_url)
  result_data = json.loads(REQUEST_RESULT.text)
  result_df = json_normalize(result_data)
  match_info_frames.append(result_df)
match_info_data = pd.concat(match_info_frames, ignore_index=True, sort=True)

In [61]:
match_info_data

,info.game_datetime,info.game_length,info.game_version,info.participants,info.queue_id,info.tft_set_number,metadata.data_version,metadata.match_id,metadata.participants
0,1574977840977,2028.678955,Version 9.23.299.3089 (Nov 25 2019/17:12:47) [...,[{'companion': {'content_ID': 'b5cab758-7194-4...,1100,2,3,NA1_3220227240,[WwAaD7WefPc_IIK298IpwEWE-FYn2s3kpLM9kSdsaxGTA...
1,1583209488712,1885.422363,Version 10.4.308.9400 (Feb 14 2020/17:25:03) [...,[{'companion': {'content_ID': '8c27f67c-90b3-4...,1100,2,4,NA1_3313188067,[DPM1MPKwrBtNsXNARpLMQpQ9XPkspQgFuOdw1qhu8W5F3...
2,1582241300313,1823.497559,Version 10.4.308.9400 (Feb 14 2020/17:25:03) [...,[{'companion': {'content_ID': 'c4508a6f-123d-4...,1100,2,4,NA1_3302506161,[2K2P4x46UgHOhGTI32nxjcT_PahCXUisXEowi6vbatO0O...

In [62]:
match_info_data.columns

Index(['info.game_datetime', 'info.game_length', 'info.game_version',
       'info.participants', 'info.queue_id', 'info.tft_set_number',
       'metadata.data_version', 'metadata.match_id', 'metadata.participants'],
      dtype='object')

In [63]:
pd.options.display.max_seq_items = 2000

In [64]:
match_info_data['info.participants'][2]

[{'companion': {'content_ID': 'c4508a6f-123d-443f-84e7-e40ea526cd7f',
   'skin_ID': 10,
   'species': 'PetPenguKnight'},
  'gold_left': 2,
  'last_round': 27,
  'level': 6,
  'placement': 7,
  'players_eliminated': 0,
  'puuid': '2K2P4x46UgHOhGTI32nxjcT_PahCXUisXEowi6vbatO0OKKH77lGgjPgUHu-wwS_AkcEuNsqbXlJtA',
  'time_eliminated': 1490.4603271484375,
  'total_damage_to_players': 42,
  'traits': [{'name': 'Berserker',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Inferno',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Light',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Set2_Ranger',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Shadow',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 2},
   {'name': 'Summoner',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 2}],
  'units': [{'character_id': 'TFT2_Malzahar',
    'items': [14],
    'name': 'Malzahar',
    'rarity': 1,
    'tier': 3},
   {'character_id': 'TFT2_Varus',
    'items': [23],
    'name': 'Varus',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Kindred',
    'items': [33, 10203, 39],
    'name': 'Kindred',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Sion',
    'items': [],
    'name': 'Sion',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Yorick',
    'items': [9, 14],
    'name': 'Yorick',
    'rarity': 3,
    'tier': 1},
   {'character_id': 'TFT2_Annie',
    'items': [10203],
    'name': 'Annie',
    'rarity': 3,
    'tier': 2}]},
 {'companion': {'content_ID': 'b1299bd0-b2e3-4b60-bdf6-a66d38e5ba14',
   'skin_ID': 10,
   'species': 'PetGhosty'},
  'gold_left': 20,
  'last_round': 30,
  'level': 8,
  'placement': 5,
  'players_eliminated': 0,
  'puuid': 'S2epufVOhw1nY99Ihvg4uCA8cm7W72M_sNA1u4eJJoda3OBgRBHF_KZ4Jh77J06SblcS2vgv5u7FJQ',
  'time_eliminated': 1659.28271484375,
  'total_damage_to_players': 69,
  'traits': [{'name': 'Druid',
    'num_units': 2,
    'style': 3,
    'tier_current': 1,
    'tier_total': 1},
   {'name': 'Inferno',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Mage',
    'num_units': 6,
    'style': 3,
    'tier_current': 2,
    'tier_total': 2},
   {'name': 'Ocean',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Set2_Assassin',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Shadow',
    'num_units': 2,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Summoner',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Woodland',
    'num_units': 3,
    'style': 3,
    'tier_current': 1,
    'tier_total': 2}],
  'units': [{'character_id': 'TFT2_Ivern',
    'items': [10203, 59],
    'name': 'Ivern',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Vladimir',
    'items': [10203, 16, 26],
    'name': 'Vladimir',
    'rarity': 0,
    'tier': 3},
   {'character_id': 'TFT2_LeBlanc',
    'items': [],
    'name': 'Leblanc',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Malzahar',
    'items': [48, 59, 2],
    'name': 'Malzahar',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Neeko',
    'items': [],
    'name': 'Neeko',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Syndra',
    'items': [],
    'name': 'Syndra',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Veigar',
    'items': [37],
    'name': 'Veigar',
    'rarity': 2,
    'tier': 3},
   {'character_id': 'TFT2_Brand',
    'items': [],
    'name': 'Brand',
    'rarity': 3,
    'tier': 1}]},
 {'companion': {'content_ID': '5897ad9f-4665-4372-8f3e-6c878adb8918',
   'skin_ID': 1,
   'species': 'PetTFTAvatar'},
  'gold_left': 2,
  'last_round': 33,
  'level': 9,
  'placement': 1,
  'players_eliminated': 3,
  'puuid': 'Fm8qPLnED4IRN_mlNNKyyv6nQz9Kr3Bb_mDA5LeJS3vaQ8JBdcEB_oDxJGs1xV5Px7lwXNu_OUC-kA',
  'time_eliminated': 1815.00927734375,
  'total_damage_to_players': 218,
  'traits': [{'name': 'Berserker',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 2},
   {'name': 'Electric',
    'num_units': 3,
    'style': 3,
    'tier_current': 2,
    'tier_total': 3},
   {'name': 'Poison',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 1},
   {'name': 'Predator',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 1},
   {'name': 'Set2_Assassin',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Set2_Glacial',
    'num_units': 6,
    'style': 4,
    'tier_current': 3,
    'tier_total': 3},
   {'name': 'Set2_Ranger',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Summoner',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Warden',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3}],
  'units': [{'character_id': 'TFT2_Warwick',
    'items': [],
    'name': 'Warwick',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Ornn',
    'items': [10203],
    'name': 'Ornn',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Braum',
    'items': [],
    'name': 'Braum',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Volibear',
    'items': [],
    'name': 'Volibear',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_DrMundo',
    'items': [78, 17],
    'name': 'DrMundo',
    'rarity': 2,
    'tier': 1},
   {'character_id': 'TFT2_Ezreal',
    'items': [],
    'name': 'Ezreal',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Ezreal',
    'items': [34, 26],
    'name': 'Ezreal',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Olaf',
    'items': [10203, 23, 24],
    'name': 'Olaf',
    'rarity': 3,
    'tier': 2},
   {'character_id': 'TFT2_Zed',
    'items': [55, 16],
    'name': 'Zed',
    'rarity': 4,
    'tier': 2}]},
 {'companion': {'content_ID': 'fcd5425d-9a58-43f1-bd7f-f73541e415f8',
   'skin_ID': 13,
   'species': 'PetTurtle'},
  'gold_left': 7,
  'last_round': 27,
  'level': 7,
  'placement': 8,
  'players_eliminated': 0,
  'puuid': '4lF0FdLdpa0VCzdTX3BZhnpJXizHDjxP9s04UJCHbIPfIDN-WoCWtg-GgWtiTgsR-77e32oYy4CDdg',
  'time_eliminated': 1488.8751220703125,
  'total_damage_to_players': 54,
  'traits': [{'name': 'Crystal',
    'num_units': 2,
    'style': 3,
    'tier_current': 1,
    'tier_total': 2},
   {'name': 'Inferno',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Poison',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 1},
   {'name': 'Predator',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 1},
   {'name': 'Set2_Assassin',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Set2_Glacial',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Set2_Ranger',
    'num_units': 4,
    'style': 2,
    'tier_current': 2,
    'tier_total': 3},
   {'name': 'Summoner',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2}],
  'units': [{'character_id': 'TFT2_Zyra',
    'items': [10203],
    'name': 'Zyra',
    'rarity': 0,
    'tier': 3},
   {'character_id': 'TFT2_Diana',
    'items': [10203],
    'name': 'Diana',
    'rarity': 0,
    'tier': 3},
   {'character_id': 'TFT2_Skarner',
    'items': [5, 77, 66],
    'name': 'Skarner',
    'rarity': 1,
    'tier': 3},
   {'character_id': 'TFT2_Varus',
    'items': [19, 23],
    'name': 'Varus',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Ezreal',
    'items': [],
    'name': 'Ezreal',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Twitch',
    'items': [],
    'name': 'Twitch',
    'rarity': 3,
    'tier': 2},
   {'character_id': 'TFT2_Ashe',
    'items': [],
    'name': 'Ashe',
    'rarity': 3,
    'tier': 2}]},
 {'companion': {'content_ID': '5897ad9f-4665-4372-8f3e-6c878adb8918',
   'skin_ID': 1,
   'species': 'PetTFTAvatar'},
  'gold_left': 3,
  'last_round': 33,
  'level': 8,
  'placement': 2,
  'players_eliminated': 0,
  'puuid': 'rOLjK2bI7u1Vgf0UW6N57SMSE26R_-Q5sNj5CCYLNPhzCuxJ3sjcFypXsSE6jHRTe_aTE1As-Iu--w',
  'time_eliminated': 1815.00927734375,
  'total_damage_to_players': 128,
  'traits': [{'name': 'Berserker',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Celestial',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 1},
   {'name': 'Electric',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Light',
    'num_units': 5,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Mystic',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 2},
   {'name': 'Set2_Blademaster',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Set2_Ranger',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Warden',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Wind',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3}],
  'units': [{'character_id': 'TFT2_Nasus',
    'items': [10203, 77, 28],
    'name': 'Nasus',
    'rarity': 0,
    'tier': 3},
   {'character_id': 'TFT2_Ornn',
    'items': [77],
    'name': 'Ornn',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Vayne',
    'items': [29, 13],
    'name': 'Vayne',
    'rarity': 0,
    'tier': 3},
   {'character_id': 'TFT2_Jax',
    'items': [],
    'name': 'Jax',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Yasuo',
    'items': [19, 10203, 25],
    'name': 'Yasuo',
    'rarity': 1,
    'tier': 3},
   {'character_id': 'TFT2_Aatrox',
    'items': [99],
    'name': 'Aatrox',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Soraka',
    'items': [],
    'name': 'Soraka',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Karma',
    'items': [],
    'name': '',
    'rarity': 2,
    'tier': 1}]},
 {'companion': {'content_ID': '6054d70b-e401-4bec-b350-f26865700c77',
   'skin_ID': 13,
   'species': 'PetPenguKnight'},
  'gold_left': 9,
  'last_round': 33,
  'level': 9,
  'placement': 3,
  'players_eliminated': 1,
  'puuid': 'XcYNqy_tRmbkFDzD1DZagmK7Vahmhzs7Z-zE1Kc27bRtfnBPrhS8oc-9rfMEYLKv67xyCwu2o88Q3w',
  'time_eliminated': 1808.2371826171875,
  'total_damage_to_players': 94,
  'traits': [{'name': 'Berserker',
    'num_units': 6,
    'style': 3,
    'tier_current': 2,
    'tier_total': 2},
   {'name': 'Desert',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Electric',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Inferno',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3},
   {'name': 'Light',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Poison',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 1},
   {'name': 'Set2_Glacial',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Set2_Ranger',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Shadow',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Warden',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 3}],
  'units': [{'character_id': 'TFT2_Nasus',
    'items': [],
    'name': 'Nasus',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Renekton',
    'items': [15],
    'name': 'Renekton',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Vayne',
    'items': [25, 16, 22],
    'name': 'Vayne',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Jax',
    'items': [17, 49, 23],
    'name': 'Jax',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Volibear',
    'items': [],
    'name': 'Volibear',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Varus',
    'items': [],
    'name': 'Varus',
    'rarity': 1,
    'tier': 1},
   {'character_id': 'TFT2_DrMundo',
    'items': [10203],
    'name': 'DrMundo',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Sion',
    'items': [10203],
    'name': 'Sion',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Olaf',
    'items': [],
    'name': 'Olaf',
    'rarity': 3,
    'tier': 1}]},
 {'companion': {'content_ID': 'b1299bd0-b2e3-4b60-bdf6-a66d38e5ba14',
   'skin_ID': 10,
   'species': 'PetGhosty'},
  'gold_left': 23,
  'last_round': 27,
  'level': 7,
  'placement': 6,
  'players_eliminated': 0,
  'puuid': 'z6erN-L7nnRdBLfJCJ_Wel3f9ZrBLLwiprt-yp8l7sdIT2VFrOsMPNQO3LlZqyAJlOwGUMvMEsm6oA',
  'time_eliminated': 1497.5606689453125,
  'total_damage_to_players': 44,
  'traits': [{'name': 'Mage',
    'num_units': 3,
    'style': 1,
    'tier_current': 1,
    'tier_total': 2},
   {'name': 'Mountain',
    'num_units': 2,
    'style': 3,
    'tier_current': 1,
    'tier_total': 1},
   {'name': 'Ocean',
    'num_units': 4,
    'style': 3,
    'tier_current': 2,
    'tier_total': 3},
   {'name': 'Set2_Assassin',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Warden',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3}],
  'units': [{'character_id': 'TFT2_Taliyah',
    'items': [34, 10203, 39],
    'name': 'Taliyah',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Vladimir',
    'items': [39],
    'name': 'Vladimir',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Thresh',
    'items': [],
    'name': 'Thresh',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Syndra',
    'items': [2],
    'name': 'Syndra',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Syndra',
    'items': [],
    'name': 'Syndra',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_QiyanaOcean',
    'items': [16, 10203],
    'name': 'Qiyana',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Malphite',
    'items': [57],
    'name': 'Malphite',
    'rarity': 3,
    'tier': 2}]},
 {'companion': {'content_ID': 'c4508a6f-123d-443f-84e7-e40ea526cd7f',
   'skin_ID': 10,
   'species': 'PetPenguKnight'},
  'gold_left': 2,
  'last_round': 31,
  'level': 8,
  'placement': 4,
  'players_eliminated': 2,
  'puuid': '1Q4J4U9cr7LYSQchgzTefhHHJlUuCpRnNQ49m-6rseigc7CmVaMwC6coyYcQhpLQomPkmltHWLnxZA',
  'time_eliminated': 1709.80419921875,
  'total_damage_to_players': 77,
  'traits': [{'name': 'Inferno',
    'num_units': 7,
    'style': 3,
    'tier_current': 2,
    'tier_total': 3},
   {'name': 'Mage',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Mountain',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 1},
   {'name': 'Set2_Assassin',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Set2_Ranger',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3},
   {'name': 'Shadow',
    'num_units': 1,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Summoner',
    'num_units': 2,
    'style': 0,
    'tier_current': 0,
    'tier_total': 2},
   {'name': 'Warden',
    'num_units': 2,
    'style': 1,
    'tier_current': 1,
    'tier_total': 3}],
  'units': [{'character_id': 'TFT2_Zyra',
    'items': [],
    'name': 'Zyra',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Diana',
    'items': [57],
    'name': 'Diana',
    'rarity': 0,
    'tier': 2},
   {'character_id': 'TFT2_Varus',
    'items': [14, 10203, 11],
    'name': 'Varus',
    'rarity': 1,
    'tier': 2},
   {'character_id': 'TFT2_Kindred',
    'items': [26, 24],
    'name': 'Kindred',
    'rarity': 2,
    'tier': 2},
   {'character_id': 'TFT2_Brand',
    'items': [49, 10203],
    'name': 'Brand',
    'rarity': 3,
    'tier': 2},
   {'character_id': 'TFT2_Annie',
    'items': [],
    'name': 'Annie',
    'rarity': 3,
    'tier': 2},
   {'character_id': 'TFT2_Malphite',
    'items': [],
    'name': 'Malphite',
    'rarity': 3,
    'tier': 2},
   {'character_id': 'TFT2_Amumu',
    'items': [39],
    'name': '',
    'rarity': 4,
    'tier': 1}]}]

In [119]:
#df = pd.Series(data={match_info_data['info.participants'][0]})
# dct = {'A':5, 'B':4, 'C':-1}
# df['min_count'] = df['category'].map(dct)
# df = df.query('count>min_count')

data = match_info_data['info.participants'][0]
game_df = pd.DataFrame.from_dict(data)


game_df

,companion,gold_left,last_round,level,placement,players_eliminated,puuid,time_eliminated,total_damage_to_players,traits,units
0,{'content_ID': 'b5cab758-7194-412a-8370-908b11...,3,33,8,4,0,WwAaD7WefPc_IIK298IpwEWE-FYn2s3kpLM9kSdsaxGTAr...,1897.483276,126,"[{'name': 'Berserker', 'num_units': 3, 'style'...","[{'character_id': 'TFT2_Volibear', 'items': []..."
1,{'content_ID': '3fd8f774-fbf9-4ffd-aed5-79f1a8...,2,31,6,6,0,T56QuzTRqNPZjCw_HV07qsaLk0jsSn3EahJgBlbo76J0qz...,1769.266968,81,"[{'name': 'Crystal', 'num_units': 1, 'style': ...","[{'character_id': 'TFT2_Skarner', 'items': [6]..."
2,{'content_ID': 'b1299bd0-b2e3-4b60-bdf6-a66d38...,1,34,7,3,0,Ki1KO62ygcycSVm6LoqHuxrL2CMzEF-bU2uMKrms9pPUog...,1957.186768,108,"[{'name': 'Electric', 'num_units': 1, 'style':...","[{'character_id': 'TFT2_Veigar', 'items': [34,..."
3,{'content_ID': '2e631ec1-f5ea-4e21-b57b-3b8d92...,11,30,7,7,0,5aiIUH1lI9kbERkF4IUXt7h8u_ibETAXHzF-6MUxmOLTuZ...,1692.093506,74,"[{'name': 'Berserker', 'num_units': 6, 'style'...","[{'character_id': 'TFT2_Jax', 'items': [14, 29..."
4,{'content_ID': '2a705022-688c-4405-bee4-3598b6...,20,33,7,5,2,vON1Whx0BlQ7lk4SMkXcwORVZjVmgX1VI7b5lqT2RTu_uv...,1891.783081,86,"[{'name': 'Alchemist', 'num_units': 1, 'style'...","[{'character_id': 'TFT2_Twitch', 'items': [16,..."
5,{'content_ID': '069301c3-099a-4682-a6b6-95f111...,32,35,7,2,1,3mQ15y1BKqVA42VvgpoTp4tyychrEVnVrQryoC_T38XKgN...,2020.377686,103,"[{'name': 'Desert', 'num_units': 1, 'style': 0...","[{'character_id': 'TFT2_Varus', 'items': [45, ..."
6,{'content_ID': '67a9dbd4-4ef7-41cf-ab16-e36baa...,1,27,6,8,0,NSXlnykdK5K15gmnqq1jDKJEMF2xl9kBTWluNY5IN5OKAe...,1527.209961,45,"[{'name': 'Crystal', 'num_units': 1, 'style': ...","[{'character_id': 'TFT2_Nautilus', 'items': []..."
7,{'content_ID': '5897ad9f-4665-4372-8f3e-6c878a...,1,35,7,1,4,HD9HB2B3dpNVhWqB70pZIBfAVFqNsq57kSfcdN3QA_h0qv...,2020.377686,178,"[{'name': 'Alchemist', 'num_units': 1, 'style'...","[{'character_id': 'TFT2_Olaf', 'items': [47, 1..."

In [ ]:
# REPLACE PUUID WITH NAME?

#name_ = game_df['puuid'] 
#for puuid in game_df['puuid']:
#game_df['puuid'] = join_summoners['name'].map(join_summoners.set_index('name')['puuid'])

In [38]:
range(len(game_df['units']))

range(0, 8)

In [147]:
game_df_test = []
#[game_df['unit_1_character_id'][row] for row in game_df['units'][row][0]['character_id']
# game_df['unit_1_items']
# game_df['unit_1_name']
# game_df['unit_1_rarity']
# game_df['unit_1_tier']
#game_df['unit_1_character_id'] = [game_df['units'][0]['character_id'] for row in game_df['units']]

In [124]:
game_df

,companion,gold_left,last_round,level,placement,players_eliminated,puuid,time_eliminated,total_damage_to_players,traits,units,unit_1_character_id
0,{'content_ID': 'b5cab758-7194-412a-8370-908b11...,3,33,8,4,0,WwAaD7WefPc_IIK298IpwEWE-FYn2s3kpLM9kSdsaxGTAr...,1897.483276,126,"[{'name': 'Berserker', 'num_units': 3, 'style'...","[{'character_id': 'TFT2_Volibear', 'items': []...",TFT2_Volibear
1,{'content_ID': '3fd8f774-fbf9-4ffd-aed5-79f1a8...,2,31,6,6,0,T56QuzTRqNPZjCw_HV07qsaLk0jsSn3EahJgBlbo76J0qz...,1769.266968,81,"[{'name': 'Crystal', 'num_units': 1, 'style': ...","[{'character_id': 'TFT2_Skarner', 'items': [6]...",TFT2_Skarner
2,{'content_ID': 'b1299bd0-b2e3-4b60-bdf6-a66d38...,1,34,7,3,0,Ki1KO62ygcycSVm6LoqHuxrL2CMzEF-bU2uMKrms9pPUog...,1957.186768,108,"[{'name': 'Electric', 'num_units': 1, 'style':...","[{'character_id': 'TFT2_Veigar', 'items': [34,...",TFT2_Veigar
3,{'content_ID': '2e631ec1-f5ea-4e21-b57b-3b8d92...,11,30,7,7,0,5aiIUH1lI9kbERkF4IUXt7h8u_ibETAXHzF-6MUxmOLTuZ...,1692.093506,74,"[{'name': 'Berserker', 'num_units': 6, 'style'...","[{'character_id': 'TFT2_Jax', 'items': [14, 29...",TFT2_Jax
4,{'content_ID': '2a705022-688c-4405-bee4-3598b6...,20,33,7,5,2,vON1Whx0BlQ7lk4SMkXcwORVZjVmgX1VI7b5lqT2RTu_uv...,1891.783081,86,"[{'name': 'Alchemist', 'num_units': 1, 'style'...","[{'character_id': 'TFT2_Twitch', 'items': [16,...",TFT2_Twitch
5,{'content_ID': '069301c3-099a-4682-a6b6-95f111...,32,35,7,2,1,3mQ15y1BKqVA42VvgpoTp4tyychrEVnVrQryoC_T38XKgN...,2020.377686,103,"[{'name': 'Desert', 'num_units': 1, 'style': 0...","[{'character_id': 'TFT2_Varus', 'items': [45, ...",TFT2_Varus
6,{'content_ID': '67a9dbd4-4ef7-41cf-ab16-e36baa...,1,27,6,8,0,NSXlnykdK5K15gmnqq1jDKJEMF2xl9kBTWluNY5IN5OKAe...,1527.209961,45,"[{'name': 'Crystal', 'num_units': 1, 'style': ...","[{'character_id': 'TFT2_Nautilus', 'items': []...",TFT2_Nautilus
7,{'content_ID': '5897ad9f-4665-4372-8f3e-6c878a...,1,35,7,1,4,HD9HB2B3dpNVhWqB70pZIBfAVFqNsq57kSfcdN3QA_h0qv...,2020.377686,178,"[{'name': 'Alchemist', 'num_units': 1, 'style'...","[{'character_id': 'TFT2_Olaf', 'items': [47, 1...",TFT2_Olaf

In [31]:
traits_data = game_df['traits']
traits_df = pd.DataFrame.from_dict(traits_data)
traits_df['traits'][0]

[{'name': 'Berserker',
  'num_units': 3,
  'style': 1,
  'tier_current': 1,
  'tier_total': 2},
 {'name': 'Electric',
  'num_units': 1,
  'style': 0,
  'tier_current': 0,
  'tier_total': 3},
 {'name': 'Metal',
  'num_units': 1,
  'style': 0,
  'tier_current': 0,
  'tier_total': 3},
 {'name': 'Mountain',
  'num_units': 1,
  'style': 0,
  'tier_current': 0,
  'tier_total': 1},
 {'name': 'Poison',
  'num_units': 3,
  'style': 3,
  'tier_current': 1,
  'tier_total': 1},
 {'name': 'Predator',
  'num_units': 3,
  'style': 3,
  'tier_current': 1,
  'tier_total': 1},
 {'name': 'Set2_Glacial',
  'num_units': 4,
  'style': 2,
  'tier_current': 2,
  'tier_total': 3},
 {'name': 'Set2_Ranger',
  'num_units': 1,
  'style': 0,
  'tier_current': 0,
  'tier_total': 3},
 {'name': 'Warden',
  'num_units': 2,
  'style': 1,
  'tier_current': 1,
  'tier_total': 3}]

In [126]:
units_data = game_df['units']
units_df = pd.DataFrame.from_dict(units_data)
units_df['units'][1]

[{'character_id': 'TFT2_Skarner',
  'items': [6],
  'name': 'Skarner',
  'rarity': 1,
  'tier': 2},
 {'character_id': 'TFT2_KogMaw',
  'items': [17, 10201],
  'name': 'KogMaw',
  'rarity': 0,
  'tier': 2},
 {'character_id': 'TFT2_Ivern',
  'items': [33],
  'name': 'Ivern',
  'rarity': 0,
  'tier': 3},
 {'character_id': 'TFT2_Maokai',
  'items': [69],
  'name': 'Maokai',
  'rarity': 0,
  'tier': 3},
 {'character_id': 'TFT2_RekSai',
  'items': [45],
  'name': 'RekSai',
  'rarity': 1,
  'tier': 2},
 {'character_id': 'TFT2_Nocturne',
  'items': [10201, 12, 2],
  'name': 'Nocturne',
  'rarity': 2,
  'tier': 3}]

In [130]:
# join the unit name with tier value in a list separated by comma
game_df['units_name'] = [','.join([unit['name']+'_'+str(unit['tier']) for unit in units]) for units in game_df['units']]

# create dummy columns of the list of 'unit_tier' per player and add it to original df
units_df = game_df['units_name'].str.get_dummies(sep = ',')

In [156]:
# join the trait name with set tier value in a list separated by comma
game_df['trait_name'] = [','.join([trait['name']+'_'+str(trait['tier_current']) for trait in traits]) for traits in game_df['traits']]

# create dummy columns of the list of 'unit_tier' per player and add it to original df
traits_df = game_df['trait_name'].str.get_dummies(sep = ',')

TypeError: string indices must be integers

,freshBlood,hotStreak,inactive,leagueId,leaguePoints,losses,queueType,rank,summonerId,summonerName,tier,veteran,wins,division_tier
0,False,False,False,bba31c20-0f0a-11ea-9d15-0292af83ade6,94,5,RANKED_TFT,I,yuST92qI7G8ZiMWVBzHJ6e2xONnD6Rc1R-AfC3IU-FEsK8xY,Thesmokingpun,IRON,False,0,I_IRON
1,False,False,False,38ef74e0-2049-11ea-af12-e2e7dba1695f,41,22,RANKED_TFT,I,cClZh8jH4gTqTlFoz_fYFO6OQwLvWEvyJaCx515J_g6Ml3GX,TwitchDrDescend,IRON,False,0,I_IRON
2,False,False,False,3e06330f-c4f3-4a08-a497-e81f6df10588,13,9,RANKED_TFT,I,8VN_E8UqdztjMGB_OU5taldKe8rYdKqbQeQNJij7aa8Bx8BS,Iskoog,IRON,False,0,I_IRON
3,False,False,False,f4694230-0bb0-11ea-b9fc-eeb4098ebaa0,22,5,RANKED_TFT,I,Ild9nWTxkyF8XWYHIbSKkO4l_HuWKnc-oCBhnMwm2txdJVdu,paybackisthename,IRON,False,0,I_IRON
4,False,False,False,13e67db0-19e1-11ea-8ce1-0256c6254f55,30,5,RANKED_TFT,I,cID8eSPpX2QVsydzTIdzHtXD1GBIjf_kTsl3zIXIctjPOspl,Dasheng Tian,IRON,False,2,I_IRON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,ad17b090-0cbb-11ea-a1bd-2248c4d57dfc,73,11,RANKED_TFT,I,NraMPVZqka1cmWV6cpfGc5dtmDEY8CSIUoBhkYnothMk1IOQ,YouMust SGM,IRON,False,0,I_IRON
201,False,False,False,97812fb0-0bba-11ea-979f-2641a46f9168,22,4,RANKED_TFT,I,1BpsKjxlh0XEFacpNm3gtD9KPYpzHixTSUoxEwNEN35w0r-D,Ruyi Heo,IRON,False,1,I_IRON
202,False,False,False,842b54b0-0be5-11ea-9d15-0292af83ade6,75,6,RANKED_TFT,I,FjeyATjcweqOPWmWykf58FoHUI_fPvWKgiQ8WH1fDmAkROAR,SkavanFoever,IRON,False,2,I_IRON
203,True,False,False,9c8f8f4d-ae39-493d-bb1b-8442fd2cd821,18,7,RANKED_TFT,I,2ZakMI4E73KHqbhtYphW6hTLBUfs6eJoN-SltSAGe9hmPwpl,Me no hit Enter,IRON,False,0,I_IRON
204,False,False,False,0b666320-0ecf-11ea-9c9a-c2363367468d,89,5,RANKED_TFT,I,yZjYmeLFcwL9f4gxXE4GxJv0rgLIH--Gb1XIGeVzwOgA0Uy7,PhotoshopMyKappa,IRON,False,0,I_IRON

In [154]:
# join the dummy columns with original game_df
game_df = game_df.join(units_df)
game_df = game_df.join(traits_df)

ValueError: columns overlap but no suffix specified: Index(['Brand_2', 'Braum_2', 'Diana_2', 'DrMundo_2', 'Ezreal_2', 'Ivern_3',
       'Jax_2', 'Khazix_2', 'KogMaw_2', 'Leblanc_2', 'Malphite_2', 'Maokai_3',
       'Nautilus_2', 'Nocturne_3', 'Olaf_1', 'Olaf_2', 'Ornn_3', 'Qiyana_2',
       'RekSai_1', 'RekSai_2', 'Renekton_1', 'Renekton_3', 'Singed_1',
       'Sion_2', 'Skarner_2', 'Syndra_2', 'Taliyah_2', 'Thresh_2', 'Thresh_3',
       'Twitch_2', 'Varus_3', 'Veigar_2', 'Vladimir_2', 'Volibear_2',
       'Warwick_2'],
      dtype='object')

In [155]:
game_df.to_csv('./datasets/full_data.csv')

In [161]:
game_df = pd.read_csv('./datasets/full_data.csv')

In [162]:
game_df

,Unnamed: 0,Unnamed: 0.1,companion,gold_left,last_round,level,placement,players_eliminated,puuid,time_eliminated,...,Set2_Assassin_0,Set2_Assassin_1,Set2_Glacial_1,Set2_Glacial_2,Set2_Ranger_0,Set2_Ranger_1,Shadow_0,Warden_0,Warden_1,Woodland_0
0,0,0,{'content_ID': 'b5cab758-7194-412a-8370-908b11...,3,33,8,4,0,WwAaD7WefPc_IIK298IpwEWE-FYn2s3kpLM9kSdsaxGTAr...,1897.483276,...,0,0,0,1,1,0,0,0,1,0
1,1,1,{'content_ID': '3fd8f774-fbf9-4ffd-aed5-79f1a8...,2,31,6,6,0,T56QuzTRqNPZjCw_HV07qsaLk0jsSn3EahJgBlbo76J0qz...,1769.266968,...,1,0,0,0,0,0,0,0,0,1
2,2,2,{'content_ID': 'b1299bd0-b2e3-4b60-bdf6-a66d38...,1,34,7,3,0,Ki1KO62ygcycSVm6LoqHuxrL2CMzEF-bU2uMKrms9pPUog...,1957.186768,...,1,0,0,0,0,0,1,0,1,1
3,3,3,{'content_ID': '2e631ec1-f5ea-4e21-b57b-3b8d92...,11,30,7,7,0,5aiIUH1lI9kbERkF4IUXt7h8u_ibETAXHzF-6MUxmOLTuZ...,1692.093506,...,0,0,0,1,0,0,1,1,0,0
4,4,4,{'content_ID': '2a705022-688c-4405-bee4-3598b6...,20,33,7,5,2,vON1Whx0BlQ7lk4SMkXcwORVZjVmgX1VI7b5lqT2RTu_uv...,1891.783081,...,0,0,1,0,0,1,1,0,0,0
5,5,5,{'content_ID': '069301c3-099a-4682-a6b6-95f111...,32,35,7,2,1,3mQ15y1BKqVA42VvgpoTp4tyychrEVnVrQryoC_T38XKgN...,2020.377686,...,0,1,0,0,1,0,1,0,1,0
6,6,6,{'content_ID': '67a9dbd4-4ef7-41cf-ab16-e36baa...,1,27,6,8,0,NSXlnykdK5K15gmnqq1jDKJEMF2xl9kBTWluNY5IN5OKAe...,1527.209961,...,0,0,0,0,0,0,0,0,1,0
7,7,7,{'content_ID': '5897ad9f-4665-4372-8f3e-6c878a...,1,35,7,1,4,HD9HB2B3dpNVhWqB70pZIBfAVFqNsq57kSfcdN3QA_h0qv...,2020.377686,...,0,0,1,0,0,0,0,0,0,0